nav {
    background: #111111;
    width: 100vw;
}

.navbar {
    width: 100vw;
}

.btn-secondary {
    margin-right: 15px;
    padding: 5 5px;
}

.btn-secondary {
    margin-right: 15px;
    padding: 5 5px;
}
.masthead-hero {
    min-height: 40vh;
    top: 3em; 
    background-size: cover; 
    background-repeat: no-repeat;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.hero-content img {
    margin-top: 10em;
}

.info-class {
    display: flex;
}

.row {
    max-width: 100%;
    text-align: center;
    padding-top: 25px;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
}

.card { 
    max-width: 35vw;
    align-items: center;
    align-content: center;
    margin-left: 15px;
}

.card  img{
    max-width: 80%;
    max-height: 40%;
    align-items: flex-start;
    margin-top: 5px;
}

@media (max-width: 1000px) {
    * {
        display: none;
    }
}